body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    overflow: hidden;
}

body, * {
    margin: 0;
    padding: 0;
}

.desktop {
    margin-top: 10px;
    position: absolute;
    left: 0;
}

.desktop img {
    width: 70px;
    height: 66px;
}

.shortcut {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.shortcut p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.664);
    font-size: 12px;
    -webkit-text-stroke: 0.4px #000;
    position: relative;
    bottom: 17.5px;
    cursor: default;
}

.taskbar {
    display: flex;
    background-color: #202020;
    box-sizing: border-box;
    width: 100%;
    height: 47px;
    align-items: center;
    justify-content: center;
}

.app {
    box-sizing: border-box;
    background-color: #202020;
    border-radius: 5px;
    height: 40px;
    width: 41px;
    margin-bottom: 2px;
}

.app:hover {
    background-color: #2d2d2d;
}

footer > * {
    position: fixed;
    bottom: 0;
}

.right {
    right: 0;
}

img[src="img/right.png"] {
    width: 234px;
    height: 47px;
}